FIRECRAWL_KEY=
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"

# Google Search and Jina configuration (for using Google Search instead of Firecrawl)
GOOGLE_SEARCH_API=  # https://developers.google.com/custom-search/v1/overview
GOOGLE_CX=         # https://programmablesearchengine.google.com/controlpanel/all
JINA=             # Jina API key 1 for load balancing


# Optional: Context size for text processing
CONTEXT_SIZE=128000

# OpenAI configuration
OPENAI_KEY=
# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# OPENAI_MODEL="llama3.1"

# Gemini
GOOGLE_GENERATIVE_AI_API_KEY=

# Google Vertex AI configuration

GOOGLE_PROJECT_ID=
GOOGLE_LOCATION=
GEMINI_MODEL=gemini-2.0-flash-exp

# Azure OpenAI configuration
AZURE_OPENAI_KEY=
AZURE_OPENAI_RESOURCE_NAME=
AZURE_OPENAI_DEPLOYMENT=

