FIRECRAWL_KEY=
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"

CONTEXT_SIZE=
OPENAI_KEY=
# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# OPENAI_MODEL="llama3.1"

# Google Gemini API configuration
GOOGLE_SEARCH_API=
GOOGLE_GENERATIVE_AI_API_KEY=
GOOGLE_CX=
GEMINI_MODEL=
GOOGLE_PROJECT_ID="your-project-id"
GOOGLE_LOCATION="us-central1"
# Azure OpenAI configuration
AZURE_OPENAI_KEY=
AZURE_OPENAI_RESOURCE_NAME=
AZURE_OPENAI_DEPLOYMENT=

#JINA api keys for web scraping to markdown optional
JINA1=
JINA2=
